
*{
    font-family:sans-serif;
}
.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 10px solid green; */
}

.part1{
    width: 100%;
    height: 750px;
    background-color: #722FD3;
    display: flex;
    flex-direction: row;
}
.flex{
    /* border: 1px solid; */
    /* width: 300px; */
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.flexmain{
    margin-left: 65px;
    margin-top: 35px;
}
.part1_leftp2{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.part1_left_input{
    /* width: 460px; */
    height: 60px;
background-color: #fff;
border-radius: 15px;
/* border: 1px solid; */
display: flex;
flex-direction: row;
align-items: center;
margin-left: 60px;
}
input[type="email"] {
    /* width: 300px; */
    height: 53px;
    border-radius: 10px;
   text-align: center;
   opacity: 50%;
}

input[type="submit"] {
    height: 40px;
    /* width: 178px; */
    background:#001141;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}
.part1_left{
    height: 100%;
    /* width: 50%; */
    /* border: 1px solid; */
    padding-top: 80px;
    /* margin-left: 100px; */
}
.part1_left h2{
    /* font-size: 77px; */
    color: #fff;
    font-weight: 700;
}
.part1_left span{
    /* font-size: 77px; */
    color: #0ef0b8;
font-weight: 700;
}
.part1_left1{
    /* width: 370px; */
    justify-content: center;
    /* border: 1px solid; */
    display:flex;
    flex-direction: row;
    gap: 3px;
}
.part1_left1 h1{
    color: #0ef0b8;
    font-size: 17px;
}
.part1_left1 span{
    color:#fff;
    font-size: 17px;
}
.part1_leftp1{
    /* width: 472px; */
    height: 57px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 30px;
}
.part1_left2{
    margin-left: 70px;
    /* width: 652px; */
    height: 271px;
    /* border: 1px solid; */
    text-align: left;
    line-height: 80px;
}
.part1_right{
    /* border: 3px solid red; */
    width: 55%;
    height: 100%;
    /* border: 1px solid; */
}
.part1_right img{
    width: 70%;
    height: 70%;
    margin-left: 0px;
}
.part2{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.part21{
    width: 1015px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    /* border: 1px solid; */
justify-content: center;
}
.part21 h3{
width: 1015px;
height: 40px;
font-size: 39px;
font-weight: 700;
}
.part22{
    width: 1015px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 1px solid; */
    margin: auto;
}
.part22 p{
    color: #383144cc;
    width: 804px;
    height: 82px;
    font-weight: 500;
}
.part22 span{
    color: #722FD3;
}
.part22 a{
    color: #722FD3;
}
.part22 a:hover {
    color:#000;
  }
.part23{
    width: 1015px;
    height: 75px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    margin: auto;
}
.part23 img{
    width: 16px;
    height: 76px;
}
.part24{
    width: 1015px;
    height: 160px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top:30px;
   justify-content: space-between;
}
.part24 div{
    width: 25%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.part24 h4{
    font-size: 33px;
    font-weight: 700;
}
.part24 p{
    margin-top: 8px;
    width: 230px;
    height: 34px;
    font-size: 13px;
    font-weight: 500;
    color: #001141;
    opacity: 90%;
}
.part24 a{
    margin-top: 10px;
    color: #8a3ffc;
    opacity: 90%;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}
.part24 a:hover {
    color:#000;
  }
.part25{
    width: 1268px;
    height:1500px ;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://assets-global.website-files.com/5db165cbf782f992df567ae5/60f835b74a8c5743d88a28b8_lines-home.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 720px 1560px;
    background-position: left,right; 
}
.part251{
    width: 100%;
    height: 460px;
    display: flex;
    margin: auto;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid blue; */
}
.part251 img{
    width: 593px;
    height: 280px;
    /* border: 1px solid; */
}
.part252{
    width: 596px;
    height: 360px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.part252 h3{
width: 100%;
height: 80px;
font-size: 39px;
font-weight: 700;
color: #001141;
/* border: 1px solid; */
}
.part252 p{
width: 420px;
height: 130px;
font-size: 17px;
color: #383144cc;
text-align: left;
/* border: 1px solid; */
font-weight: 500;
opacity: 95%;
}
.part253{
    width: 596px;
    height: 360px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.part253 h3{
width: 100%;
height: 80px;
font-size: 40px;
font-weight: 700;
color: #001141;
/* border: 1px solid; */
}
.part253 p{
width: 450px;
height: 130px;
font-size: 17px;
color: #383144cc;
text-align: left;
/* border: 1px solid; */
font-weight: 500;
opacity: 95%;
}
.part254{
    width: 596px;
    height: 400px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.part254 h3{
width: 100%;
height: 80px;
font-size: 40px;
font-weight: 700;
color: #001141;
/* border: 1px solid; */
}
.part254 p{
width: 410px;
height: 200px;
font-size: 17px;
color: #383144cc;
text-align: left;
/* border: 1px solid; */
font-weight: 500;
opacity: 95%;
}
 .connectyourstack{
    margin-top: 100px;
    width: 100%;
    height: 770px;
    background-color: #722FD3;
    background-image: url(https://assets-global.website-files.com/6257f2528a39952d4e8af286/6257f2528a39954d108af5d7_circle2.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 920px 1860px;
    background-position: center;
 }
.connectyourstack2{
    margin-top: 100px;
    width: 100%;
    height: 630px;
    background-image: url(https://assets-global.website-files.com/6257f2528a39952d4e8af286/6257f2528a39954d108af5d7_circle2.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 1520px 1230px;
    background-position: center; 
}
.connectyourstack3{
    width: 982px;
    height: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}
.connectyourstack3 img{
    width: 40px;
    height: 65px;
}
.connectyourstack3 h3{
    width: 775px;
    height: 42px;
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
.connectyourstack3 p{
    width: 775px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
.connectyourstack3 a{
    font-size: 14px;
    color: #fff;
}
.connectyourstack4{
    width: 100%;
    height: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,60px);
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid; */
}
.connectyourstack5{
    width: 50%;
    height: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,60px);
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid; */
}
.connectyourstack4 img{
    width: 100px;
    height: 55px;
}
.connectyourstack4 img:hover{
    width: 75px;
    height: 45px;
}
.connectyourstack5 img{
    width: 100px;
    height: 55px;
}
.connectyourstack5 img:hover{
    width: 75px;
    height: 45px;
}

 .trusted{
    width: 1270px;
    height: 780px;
    /* border: 1px solid; */
    margin: auto;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .trusted1{
    width: 99%;
    height: 100%;
    /* border: 1px solid red; */
    margin: auto;
 }
 .trusted12{
    width: 871px;
    height: 253px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .trusted12 h3{
    width: 771px;
    height: 45px;
    /* border: 1px solid; */
    color: #001141;
    font-size: 37px;
    font-weight: 700;
 }
 .trusted12 p{
    width: 800px;
    height: 78px;
    /* border: 1px solid; */
    color:#383144cc;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
 }
 .trusted2{
    width: 100%;
    height: 125px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .trusted21{
    width: 17%;
    height: 120px;
    background-color:#f1eff8;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
 }
 .trusted21 svg{
    width: 26px;
    height: 45px;
 }
 .trusted21 a{
    width: 100%;
    height: 34px;
    background: transparent;
 }
 .trusted21:hover{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh9qMYnNw9f6glCJ4RgZJ8ipXCuTtSPd-GvA&usqp=CAU); */
    background-color: #d9c7f5;
    color:#722FD3;
 }
 .trusted3main{
    margin-top: 30px;
    width: 100%;
    height: 350px;
    /* border: 1px solid blue; */
 }
 .trusted3{
    width: 97%;
    height: 350px;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
 }
 .trusted31{
    /* border:1px solid #0ef0b8; */
 }
 .trusted31 img{
    width: 510px;
    height: 350px;
    /* border-radius: 30px; */
 }
 .trusted32main{
    width: 680px;
    height: 350px;
    margin: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    /* border: 1px solid green; */
    background-image: url(https://assets-global.website-files.com/6257f2528a39952d4e8af286/6257f2528a399570838af438_quote.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100px 100px;
    top: 0; 
}
.trusted32{
    width: 620px;
    height: 300px;
    /* border: 1px solid blue; */
    text-align: left;
}
 .trusted32 h3{
    width: 621px;
    height: 56px;
    color: #001141;
    font-size: 22px;
    font-weight: 700;
 }
 .trusted32 img{
    width: 180px;
    height: 38px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.trusted32 p{
    width: 521px;
    height: 70px;
    color:#383144cc;
    font-size: 15px;
    font-weight:500;
    opacity: 90%;
    margin-bottom: 15px;
 }
 .trusted32 strong{
    width: 96px;
    height: 15px;
    color:#8a3ffc;
    font-size: 14px;
    font-weight: 700;
}
.trusted32 a{
    width: 96px;
    height: 15px;
    color:#8a3ffc;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
.awards{
    width: 100%;
    height: 230px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.awards1{
    width: 1330px;
    height: 230px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}
.awards1 div{
    width: 15%;
    height: 150px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.try{
    width:100%;
    height: 370px;
    background-color: #8a3ffc;
    background-image: url(https://assets-global.website-files.com/6257f2528a39952d4e8af286/6257f2528a39955f428af2ba_timely---a.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 250px;
    background-size: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.try1{
    width: 1030px;
    height: 250px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.try1 h2{
    font-size: 55px;
    width: 545px;
    height: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}
.try1 span{
    font-size: 55px;
    width: 445px;
    height: 60px;
    color: #0ef0b8;
    font-weight: 700;
}
.try1 p{
    color: #f1eff8;
    font-weight: 500;
}
.try div{
    margin-top: 15px;
}
.try2{
    width: 950px;
    display: flex;
    flex-direction:row;
    /* border: 1px solid; */
    align-items:center;
    justify-content: space-around;
    height: 30px;
    padding-bottom:30px;
}
.try3{
    display: flex;
    flex-direction:row;
    /* border: 1px solid; */
    align-items:center;
    font-size: 14px;
    color: #f1eff8;
}
.try3 a{
 text-decoration: underline; 
}